.searchbar {
  margin-left: -30%;
  padding-right: 150px;
}
button {
  border-radius: 20%;
  margin-left: -18%;
  background-color: green;
  color: white;
}
.logout {
  cursor: pointer;
}

.fa-search {
  color: white;
  font-size: x-large;
}
